<div class="row white-bg">
	<form (ngSubmit)="onSubmit()" f="ngForm" novalidate>
		<table class="table table-striped table-hover" role="grid">
			<thead>
				<tr>
					<th class="text-center" style="width:05%">#</th>
					<th class="text-center" style="width:05%"><i class="fa fa-circle"></i></th>
					<th class="text-center" style="width:05%">Date</th>
					<th class="text-center" style="width:10%">Check</th>
					<th class="text-center" style="width:10%">Payee</th>
					<th class="text-center" style="width:15%">Category</th>
					<th class="text-center" style="width:35%">Memo</th>
					<th class="text-center" style="width:05%">Outflow</th>
					<th class="text-center" style="width:05%">Inflow</th>
					<th class="text-center" style="width:05%">Cleared</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let transaction of filteredTransactions; let i = index">
					<td class="text-center"><input type="checkbox" ([ngModel])="transaction.checked"></td>
					<td class="text-center"><i *ngIf="transaction.flag" class="fa fa-circle"></i></td>
					<td class="text-center">{{transaction.date | date: 'dd/MM/yyyy'}}</td>
					<td class="text-center">{{transaction.check}}</td>
					<td>{{transaction.payee}}</td>
					<td class="text-center">{{transaction.category}}</td>
					<td>{{transaction.memo}}</td>
					<td>{{transaction.outflow | currency:'BRL':true:'1.2-2'}}</td>
					<td>{{transaction.inflow | currency:'BRL':true:'1.2-2'}}</td>
					<td class="text-center">{{transaction.cleared}}</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>