<li>
	<a [routerLink]="['/budget']">
		<i class="fa fa-envelope"></i>
		<span class="nav-label">Budget</span>
	</a>
</li>
<li>
	<a [routerLink]="['/transaction/all']">
		<i class="fa fa-bank"></i>
		<span class="nav-label">All Accounts</span>
	</a>
</li>
<hr/>
<li>
	<a>
		<span class="fa arrow"></span>
		<span class="nav-label">Budget</span>
	</a>
	<ul class="nav nav-second-level collapse">
		<li *ngFor="let account of accounts">
			<a *ngIf="!account.offBudget" routerLink="/transaction/{{account._id}}">{{account.name}}</a>
		</li>
	</ul>
</li>
<li>
	<a>
		<span class="fa arrow"></span>
		<span class="nav-label">Off Budget</span>
	</a>
	<ul class="nav nav-second-level collapse">
		<li *ngFor="let account of accounts">
			<a *ngIf="account.offBudget" routerLink="/transaction/{{account._id}}">{{account.name}}</a>
		</li>
	</ul>
</li>
<hr/>
<li>
	<a [routerLink]="['/budget']">
		<i class="fa fa-plus-circle"></i>
		<span class="nav-label">Add Acount</span>
	</a>
</li>